extends layout

block content
  div.col-10.box-style
    div
      h1 Change Password
      form(role='form', action='/changepassword', method='post', style='max-width: 300px; text-align: left;')
        h4 Old Password
        input(type='password', name='oldpassword', placeholder='Old Password')
        h4 New Password
        input(type='password', name='newpassword', placeholder='New Password')
        br
        br
        br
        button.btn.btn-default(type='submit') Submit
        |&nbsp
        a(href='/')
          button.btn.btn-primary(type='button') Cancel