extends layout

block content
  .col-8.box-style
    .row
      .col-sm-12
        .col-sm-8
          .row
            img(src='/images/CatoniaNewsNetwork.png' alt='Catonia News Network')
            br
            if user && (user.usertype == 'controller' || (user.usertype == 'participant' && user.characters[0].system == 'cnn')
            button.btn.btn-default(type='submit') New Story
          .row

        .col-sm-4.order-last.directory
          ul.nav.flex-column 
            h3 Directory
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link


