extends layout

block scripts
  script(type='text/javascript', src='/javascripts/systemscript.js')

block content
  .container
    .jumbotron
      h1 Edit Crisis on #{system.name}
      br
      form(role='form', action="/directory/editcrisis/" + system._id + "/" + crisis._id, method="post", style='max-width: 500px; text-align: left;')
        .form-group.crisis(name='crisis')
              
          h4 Crisis Name
          if crisis.crisisname
            input.form-control(type='text', name='crisisname', placeholder='Title of the crisis', value=crisis.crisisname)
          br
          if crisis.crisisevents && crisis.crisisevents.length > 0 && crisis.crisisevents[0] !== null
            each crisisevent in crisis.crisisevents

              h5 Crisis Event
              input.form-control(type='text', name='eventname', placeholder='Event related to the crisis', value=crisisevent.eventtitle)
              br

              h5 Event Description
              textarea.form-control(type='text', name='eventdescription', placeholder='Description of event', style='resize : none;') #{crisisevent.eventdescription}
              br
          else
            h5 Crisis Event
            input.form-control(type='text', name='eventname', placeholder='Event related to the crisis')
            br

            h5 Event Description
            textarea.form-control(type='text', name='eventdescription', placeholder='Description of event', style='resize : none;')
          
          button.btn.btn-primary.addevent(type="button") Add Event to Crisis
       
        br
        button.btn.btn-primary(type="submit") Submit