extends layout

block content
  div.col-8.box-style.form-style
    h1 Cantonica Conference Directory
    h2
      a(href='/directory/system')
        button.btn.btn-default(type='button') Systems
    h2
      a(href='/directory/character')
        button.btn.btn-default(type='button') Delegation Directory