extends layout

block content
  .container
    .jumbotron
      h1 Edit Profile
      br
      form(role='form', action='/editprofile', method='post', style='max-width: 300px; text-align: left;')
        .form-group
          h4 First Name
          input.form-control(type='text', name='firstname', placeholder=user.firstName)
          br
          h4 Last Name
          input.form-control(type='text', name='lastname', placeholder=user.lastName)
          br
          h4 Email
          input.form-control(type='text', name='email', placeholder=user.email)
        button.btn.btn-default(type='submit') Submit
        |&nbsp
        a(href='/profile')
          button.btn.btn-danger(type='button') Cancel