extends layout

block content
  div.col-10.box-style
    div
      h1 Edit Profile
    br
    div
      form(role='form', action='/editprofile', method='post', style='max-width: 300px; text-align: left;')
        .form-group
          h4 First Name
          input(type='text', name='firstname', placeholder=user.firstName)
          h4 Last Name
          input(type='text', name='flastname', placeholder=user.lastName)
          h4 Email
          input(type='text', name='email', placeholder=user.email)
        button.btn.btn-default(type='submit') Submit
        |&nbsp
        a(href='/profile')
          button.btn.btn-danger(type='button') Cancel