extends layout

block content
  .container
    .jumbotron
      if (!user)
        h1.display-4 Welcome to Cantonica!
        br
        div
          a(href='/login')
            button.btn.btn-primary.btn-lg(type="button") Login
          |&nbsp
          a(href='/register')
            button.btn.btn-primary.btn-lg(type="button") Register
  
      if (user)
        h1.display-4 Welcome to Cantonica #{user.firstName}!
        br
        div
          a(href='/cnn')
            button.btn.btn-primary.btn-lg(type="button") Enter