extends layout

block content
  .container
    .jumbotron
      h1 New Message
      br
      h4 Message Title
      input.form-control(type='text', name='title', style)
      textarea.form-control