extends layout

block content

   h1 Reset password for #{account.username}
   form(role='form', action='/resetpassword/' + account._id, method='post', style='max-width: 300px; text-align: left;')
     h4 New Password
     input.form-control(type='password', name='newpassword', placeholder='New password')
     br
     br

     button.btn.btn-primary(type='submit') Submit
